fastapi
uvicorn[standard]
chromadb
groq
pymupdf
python-dotenv
streamlit
requests
rank-bm25
langchain
langchain-core
langchain-groq
langchain-chroma
langchain-huggingface
langchain-community
langchain-classic
langchain-text-splitters
langgraph
sentence-transformers
